/** Web Style */
.app {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

highlight {
  font-family: sans-serif ;
  background-color:gainsboro;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-top: 3px;
  font-weight: bold;
  border-radius: 5px;
}


.main-heading {
  font-family: sans-serif ;
  font-size: 2em;
  margin-bottom: -.5em;
}

.slogan {
  font-family: sans-serif ;
  font-size: 1.0em;
  color: #666;
  text-align: start;
}
h1 {
  font-family: sans-serif ;
}
h2 {
  font-family: sans-serif ;
}
h3 {
  font-family: sans-serif ;
}

.app-header {
  font-family: sans-serif ;
  background-color: #282c34;
  /* min-height: 100vh; */
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

pre{
  
  padding: 20px;
  color: black;
  font-size: 1.1em;
  background-color:gainsboro;
  border-radius: 10px;
  min-width: fit-content;
}
.app-link {
  color: #61dafb;
}

.app-body {
  margin: 20px;

}

.app-footer {
  font-family: sans-serif ;
  background-color: #282c34;
  min-height: auto;
  padding: 1.0em;
  color: white;
  text-align: center;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** Mobile Style */
@media only screen and (max-width: 600px) {

}